/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/laradock/*
/vendor/
.vscode\settings.json


vendor/zircote/swagger-php/bin/openapi
vendor/symfony/yaml/Resources/bin/yaml-lint
vendor/symfony/var-dumper/Resources/bin/var-dump-server
vendor/swagger-api/swagger-ui/swagger-ui-dist-package/deploy.sh
vendor/swagger-api/swagger-ui/release/get-changelog.sh
vendor/swagger-api/swagger-ui/release/check-for-breaking-changes.sh
vendor/swagger-api/swagger-ui/flavors/swagger-ui-react/release/run.sh
vendor/swagger-api/swagger-ui/docker/configurator/index.js
vendor/sebastian/resource-operations/build/generate.php
vendor/psy/psysh/bin/psysh
vendor/phpunit/phpunit/phpunit
vendor/nunomaduro/collision/LICENSE.md
vendor/nikic/php-parser/bin/php-parse
vendor/nesbot/carbon/bin/carbon
vendor/namshi/jose/src/Namshi/JOSE/SimpleJWS.php
vendor/namshi/jose/src/Namshi/JOSE/JWT.php
vendor/namshi/jose/src/Namshi/JOSE/JWS.php
vendor/laravel/framework/src/Illuminate/View/ViewServiceProvider.php
vendor/laravel/framework/src/Illuminate/View/ViewFinderInterface.php
vendor/laravel/framework/src/Illuminate/View/View.php
vendor/laravel/framework/src/Illuminate/View/FileViewFinder.php
vendor/laravel/framework/src/Illuminate/View/Factory.php
vendor/laravel/framework/src/Illuminate/View/Engines/PhpEngine.php
vendor/laravel/framework/src/Illuminate/View/Engines/EngineResolver.php
vendor/laravel/framework/src/Illuminate/View/Engines/Engine.php
vendor/laravel/framework/src/Illuminate/View/Engines/CompilerEngine.php
vendor/laravel/framework/src/Illuminate/View/Compilers/CompilerInterface.php
vendor/laravel/framework/src/Illuminate/View/Compilers/Compiler.php
vendor/laravel/framework/src/Illuminate/Validation/Validator.php
vendor/laravel/framework/src/Illuminate/Validation/ValidationServiceProvider.php
vendor/laravel/framework/src/Illuminate/Validation/PresenceVerifierInterface.php
vendor/laravel/framework/src/Illuminate/Validation/Factory.php
vendor/laravel/framework/src/Illuminate/Validation/DatabasePresenceVerifierInterface.php
vendor/laravel/framework/src/Illuminate/Validation/DatabasePresenceVerifier.php
vendor/laravel/framework/src/Illuminate/Validation/composer.json
vendor/laravel/framework/src/Illuminate/Translation/Translator.php
vendor/laravel/framework/src/Illuminate/Translation/TranslationServiceProvider.php
vendor/laravel/framework/src/Illuminate/Translation/MessageSelector.php
vendor/laravel/framework/src/Illuminate/Translation/FileLoader.php
vendor/laravel/framework/src/Illuminate/Translation/composer.json
vendor/laravel/framework/src/Illuminate/Support/ServiceProvider.php
vendor/laravel/framework/src/Illuminate/Support/Pluralizer.php
vendor/laravel/framework/src/Illuminate/Support/NamespacedItemResolver.php
vendor/laravel/framework/src/Illuminate/Support/MessageBag.php
vendor/laravel/framework/src/Illuminate/Support/Manager.php
vendor/laravel/framework/src/Illuminate/Support/helpers.php
vendor/laravel/framework/src/Illuminate/Support/Fluent.php
vendor/laravel/framework/src/Illuminate/Support/Facades/View.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Validator.php
vendor/laravel/framework/src/Illuminate/Support/Facades/URL.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Session.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Schema.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Route.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Response.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Request.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Redis.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Redirect.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Queue.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Password.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Mail.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Log.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Lang.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Hash.php
vendor/laravel/framework/src/Illuminate/Support/Facades/File.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Facade.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Event.php
vendor/laravel/framework/src/Illuminate/Support/Facades/DB.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Crypt.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Cookie.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Config.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Cache.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Blade.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Auth.php
vendor/laravel/framework/src/Illuminate/Support/Facades/Artisan.php
vendor/laravel/framework/src/Illuminate/Support/Facades/App.php
vendor/laravel/framework/src/Illuminate/Session/TokenMismatchException.php
vendor/laravel/framework/src/Illuminate/Session/Store.php
vendor/laravel/framework/src/Illuminate/Session/SessionServiceProvider.php
vendor/laravel/framework/src/Illuminate/Session/SessionManager.php
vendor/laravel/framework/src/Illuminate/Session/CookieSessionHandler.php
vendor/laravel/framework/src/Illuminate/Session/Console/stubs/database.stub
vendor/laravel/framework/src/Illuminate/Session/composer.json
vendor/laravel/framework/src/Illuminate/Session/CacheBasedSessionHandler.php
vendor/laravel/framework/src/Illuminate/Routing/UrlGenerator.php
vendor/laravel/framework/src/Illuminate/Routing/RoutingServiceProvider.php
vendor/laravel/framework/src/Illuminate/Routing/Route.php
vendor/laravel/framework/src/Illuminate/Routing/Redirector.php
vendor/laravel/framework/src/Illuminate/Routing/Console/ControllerMakeCommand.php
vendor/laravel/framework/src/Illuminate/Redis/RedisServiceProvider.php
vendor/laravel/framework/src/Illuminate/Redis/composer.json
vendor/laravel/framework/src/Illuminate/Queue/SyncQueue.php
vendor/laravel/framework/src/Illuminate/Queue/SqsQueue.php
vendor/laravel/framework/src/Illuminate/Queue/QueueServiceProvider.php
vendor/laravel/framework/src/Illuminate/Queue/QueueManager.php
vendor/laravel/framework/src/Illuminate/Queue/Queue.php
vendor/laravel/framework/src/Illuminate/Queue/Listener.php
vendor/laravel/framework/src/Illuminate/Queue/Jobs/SyncJob.php
vendor/laravel/framework/src/Illuminate/Queue/Jobs/SqsJob.php
vendor/laravel/framework/src/Illuminate/Queue/Jobs/Job.php
vendor/laravel/framework/src/Illuminate/Queue/Jobs/BeanstalkdJob.php
vendor/laravel/framework/src/Illuminate/Queue/Console/ListenCommand.php
vendor/laravel/framework/src/Illuminate/Queue/Connectors/SyncConnector.php
vendor/laravel/framework/src/Illuminate/Queue/Connectors/SqsConnector.php
vendor/laravel/framework/src/Illuminate/Queue/Connectors/ConnectorInterface.php
vendor/laravel/framework/src/Illuminate/Queue/Connectors/BeanstalkdConnector.php
vendor/laravel/framework/src/Illuminate/Queue/BeanstalkdQueue.php
vendor/laravel/framework/src/Illuminate/Pagination/PaginationServiceProvider.php
vendor/laravel/framework/src/Illuminate/Pagination/composer.json
vendor/laravel/framework/src/Illuminate/Mail/Message.php
vendor/laravel/framework/src/Illuminate/Mail/MailServiceProvider.php
vendor/laravel/framework/src/Illuminate/Mail/Mailer.php
vendor/laravel/framework/src/Illuminate/Mail/composer.json
vendor/laravel/framework/src/Illuminate/Log/Logger.php
vendor/laravel/framework/src/Illuminate/Log/composer.json
vendor/laravel/framework/src/Illuminate/Http/Response.php
vendor/laravel/framework/src/Illuminate/Http/RedirectResponse.php
vendor/laravel/framework/src/Illuminate/Http/JsonResponse.php
vendor/laravel/framework/src/Illuminate/Http/composer.json
vendor/laravel/framework/src/Illuminate/Hashing/HashServiceProvider.php
vendor/laravel/framework/src/Illuminate/Hashing/composer.json
vendor/laravel/framework/src/Illuminate/Hashing/BcryptHasher.php
vendor/laravel/framework/src/Illuminate/Foundation/Providers/ComposerServiceProvider.php
vendor/laravel/framework/src/Illuminate/Foundation/Providers/ArtisanServiceProvider.php
vendor/laravel/framework/src/Illuminate/Foundation/ProviderRepository.php
vendor/laravel/framework/src/Illuminate/Foundation/Application.php
vendor/laravel/framework/src/Illuminate/Foundation/AliasLoader.php
vendor/laravel/framework/src/Illuminate/Events/EventServiceProvider.php
vendor/laravel/framework/src/Illuminate/Events/Dispatcher.php
vendor/laravel/framework/src/Illuminate/Events/composer.json
vendor/laravel/framework/src/Illuminate/Encryption/EncryptionServiceProvider.php
vendor/laravel/framework/src/Illuminate/Encryption/Encrypter.php
vendor/laravel/framework/src/Illuminate/Database/SqlServerConnection.php
vendor/laravel/framework/src/Illuminate/Database/SQLiteConnection.php
vendor/laravel/framework/src/Illuminate/Database/Seeder.php
vendor/laravel/framework/src/Illuminate/Database/Schema/PostgresBuilder.php
vendor/laravel/framework/src/Illuminate/Database/Schema/MySqlBuilder.php
vendor/laravel/framework/src/Illuminate/Database/Schema/Grammars/SqlServerGrammar.php
vendor/laravel/framework/src/Illuminate/Database/Schema/Grammars/SQLiteGrammar.php
vendor/laravel/framework/src/Illuminate/Database/Schema/Grammars/PostgresGrammar.php
vendor/laravel/framework/src/Illuminate/Database/Schema/Grammars/MySqlGrammar.php
vendor/laravel/framework/src/Illuminate/Database/Schema/Grammars/Grammar.php
vendor/laravel/framework/src/Illuminate/Database/Schema/Builder.php
vendor/laravel/framework/src/Illuminate/Database/Schema/Blueprint.php
vendor/laravel/framework/src/Illuminate/Database/RecordsNotFoundException.php
vendor/laravel/framework/src/Illuminate/Database/README.md
vendor/laravel/framework/src/Illuminate/Database/Query/Processors/SqlServerProcessor.php
vendor/laravel/framework/src/Illuminate/Database/Query/Processors/Processor.php
vendor/laravel/framework/src/Illuminate/Database/Query/Processors/PostgresProcessor.php
vendor/laravel/framework/src/Illuminate/Database/Query/JoinClause.php
vendor/laravel/framework/src/Illuminate/Database/Query/Grammars/SqlServerGrammar.php
vendor/laravel/framework/src/Illuminate/Database/Query/Grammars/SQLiteGrammar.php
vendor/laravel/framework/src/Illuminate/Database/Query/Grammars/PostgresGrammar.php
vendor/laravel/framework/src/Illuminate/Database/Query/Grammars/MySqlGrammar.php
vendor/laravel/framework/src/Illuminate/Database/Query/Grammars/Grammar.php
vendor/laravel/framework/src/Illuminate/Database/Query/Expression.php
vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php
vendor/laravel/framework/src/Illuminate/Database/PostgresConnection.php
vendor/laravel/framework/src/Illuminate/Database/MySqlConnection.php
vendor/laravel/framework/src/Illuminate/Database/MultipleRecordsFoundException.php
vendor/laravel/framework/src/Illuminate/Database/MigrationServiceProvider.php
vendor/laravel/framework/src/Illuminate/Database/Migrations/stubs/migration.update.stub
vendor/laravel/framework/src/Illuminate/Database/Migrations/stubs/migration.stub
vendor/laravel/framework/src/Illuminate/Database/Migrations/stubs/migration.create.stub
vendor/laravel/framework/src/Illuminate/Database/Migrations/Migrator.php
vendor/laravel/framework/src/Illuminate/Database/Migrations/MigrationRepositoryInterface.php
vendor/laravel/framework/src/Illuminate/Database/Migrations/MigrationCreator.php
vendor/laravel/framework/src/Illuminate/Database/Migrations/Migration.php
vendor/laravel/framework/src/Illuminate/Database/Migrations/DatabaseMigrationRepository.php
vendor/laravel/framework/src/Illuminate/Database/Grammar.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/Relation.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/Pivot.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/MorphOneOrMany.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/MorphOne.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/MorphMany.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/HasOneOrMany.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/HasOne.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/HasMany.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/BelongsToMany.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/BelongsTo.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/RelationNotFoundException.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/ModelNotFoundException.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/MassAssignmentException.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/Collection.php
vendor/laravel/framework/src/Illuminate/Database/Eloquent/Builder.php
vendor/laravel/framework/src/Illuminate/Database/DatabaseTransactionsManager.php
vendor/laravel/framework/src/Illuminate/Database/DatabaseTransactionRecord.php
vendor/laravel/framework/src/Illuminate/Database/DatabaseServiceProvider.php
vendor/laravel/framework/src/Illuminate/Database/DatabaseManager.php
vendor/laravel/framework/src/Illuminate/Database/Console/Migrations/RollbackCommand.php
vendor/laravel/framework/src/Illuminate/Database/Console/Migrations/ResetCommand.php
vendor/laravel/framework/src/Illuminate/Database/Console/Migrations/RefreshCommand.php
vendor/laravel/framework/src/Illuminate/Database/Console/Migrations/MigrateCommand.php
vendor/laravel/framework/src/Illuminate/Database/Console/Migrations/InstallCommand.php
vendor/laravel/framework/src/Illuminate/Database/Console/Migrations/BaseCommand.php
vendor/laravel/framework/src/Illuminate/Database/Connectors/SqlServerConnector.php
vendor/laravel/framework/src/Illuminate/Database/Connectors/SQLiteConnector.php
vendor/laravel/framework/src/Illuminate/Database/Connectors/PostgresConnector.php
vendor/laravel/framework/src/Illuminate/Database/Connectors/MySqlConnector.php
vendor/laravel/framework/src/Illuminate/Database/Connectors/ConnectorInterface.php
vendor/laravel/framework/src/Illuminate/Database/Connectors/Connector.php
vendor/laravel/framework/src/Illuminate/Database/Connectors/ConnectionFactory.php
vendor/laravel/framework/src/Illuminate/Database/ConnectionResolverInterface.php
vendor/laravel/framework/src/Illuminate/Database/ConnectionResolver.php
vendor/laravel/framework/src/Illuminate/Database/ConnectionInterface.php
vendor/laravel/framework/src/Illuminate/Database/Connection.php
vendor/laravel/framework/src/Illuminate/Database/Capsule/Manager.php
vendor/laravel/framework/src/Illuminate/Cookie/CookieServiceProvider.php
vendor/laravel/framework/src/Illuminate/Cookie/CookieJar.php
vendor/laravel/framework/src/Illuminate/Cookie/composer.json
vendor/laravel/framework/src/Illuminate/Contracts/View/Engine.php
vendor/laravel/framework/src/Illuminate/Contracts/Translation/Loader.php
vendor/laravel/framework/src/Illuminate/Contracts/Support/Renderable.php
vendor/laravel/framework/src/Illuminate/Contracts/Support/MessageProvider.php
vendor/laravel/framework/src/Illuminate/Contracts/Support/Jsonable.php
vendor/laravel/framework/src/Illuminate/Contracts/Support/Arrayable.php
vendor/laravel/framework/src/Illuminate/Container/Container.php
vendor/laravel/framework/src/Illuminate/Container/composer.json
vendor/laravel/framework/src/Illuminate/Console/composer.json
vendor/laravel/framework/src/Illuminate/Console/Command.php
vendor/laravel/framework/src/Illuminate/Console/Application.php
vendor/laravel/framework/src/Illuminate/Config/composer.json
vendor/laravel/framework/src/Illuminate/Cache/Repository.php
vendor/laravel/framework/src/Illuminate/Cache/RedisStore.php
vendor/laravel/framework/src/Illuminate/Cache/NullStore.php
vendor/laravel/framework/src/Illuminate/Cache/MemcachedStore.php
vendor/laravel/framework/src/Illuminate/Cache/MemcachedConnector.php
vendor/laravel/framework/src/Illuminate/Cache/FileStore.php
vendor/laravel/framework/src/Illuminate/Cache/DatabaseStore.php
vendor/laravel/framework/src/Illuminate/Cache/Console/ForgetCommand.php
vendor/laravel/framework/src/Illuminate/Cache/Console/ClearCommand.php
vendor/laravel/framework/src/Illuminate/Cache/composer.json
vendor/laravel/framework/src/Illuminate/Cache/CacheServiceProvider.php
vendor/laravel/framework/src/Illuminate/Cache/CacheManager.php
vendor/laravel/framework/src/Illuminate/Cache/ApcWrapper.php
vendor/laravel/framework/src/Illuminate/Cache/ApcStore.php
vendor/laravel/framework/src/Illuminate/Auth/Passwords/TokenRepositoryInterface.php
vendor/laravel/framework/src/Illuminate/Auth/Passwords/PasswordResetServiceProvider.php
vendor/laravel/framework/src/Illuminate/Auth/Passwords/PasswordBroker.php
vendor/laravel/framework/src/Illuminate/Auth/Passwords/DatabaseTokenRepository.php
vendor/laravel/framework/src/Illuminate/Auth/GenericUser.php
vendor/laravel/framework/src/Illuminate/Auth/EloquentUserProvider.php
vendor/laravel/framework/src/Illuminate/Auth/DatabaseUserProvider.php
vendor/laravel/framework/src/Illuminate/Auth/AuthServiceProvider.php
vendor/laravel/framework/src/Illuminate/Auth/AuthManager.php
vendor/intervention/image/src/Intervention/Image/ImageServiceProviderLaravel4.php
vendor/fideloper/proxy/composer.json
vendor/facade/flare-client-php/src/Flare.php
vendor/doctrine/dbal/bin/doctrine-dbal
vendor/bin/yaml-lint
vendor/bin/var-dump-server
vendor/bin/psysh
vendor/bin/phpunit
vendor/bin/php-parse
vendor/bin/openapi
vendor/bin/doctrine-dbal
vendor/bin/carbon
laradock/workspace/sources.sh
laradock/travis-build.sh
laradock/sync.sh
laradock/postgres/docker-entrypoint-initdb.d/init_sonarqube_db.sh
laradock/postgres/docker-entrypoint-initdb.d/init_jupyterhub_db.sh
laradock/postgres/docker-entrypoint-initdb.d/init_gitlab_db.sh
laradock/postgres/docker-entrypoint-initdb.d/init_confluence_db.sh
laradock/postgres/docker-entrypoint-initdb.d/createdb.sh.example
laradock/php-fpm/xdebug
laradock/neo4j/docker-entrypoint.sh
laradock/jenkins/update-official-library.sh
laradock/jenkins/publish.sh
laradock/jenkins/plugins.sh
laradock/jenkins/jenkins.sh
laradock/jenkins/jenkins-support
laradock/jenkins/install-plugins.sh
laradock/DOCUMENTATION/themes/hugo-material-docs/static/fonts/icon.woff
laradock/DOCUMENTATION/themes/hugo-material-docs/static/fonts/icon.ttf
laradock/DOCUMENTATION/themes/hugo-material-docs/static/fonts/icon.svg
laradock/DOCUMENTATION/themes/hugo-material-docs/static/fonts/icon.eot
